/*! _dashboard-contacts.scss | Bulkit | CSS Ninja */

/* ==========================================================================
Dashboard contacts styles
========================================================================== */

/***
TABLE OF CONTENTS
=============================================================================
0. Header
1. Contacts grid
2. Contacts list
3. Single contact
4. Modals (message, call and event)
5. Create contact modal
=============================================================================
***/

/* ==========================================================================
0. Header
========================================================================== */

//Wrapper
.contacts-title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .control {
        max-width: 350px;

        .input {
            padding-left: 44px;
        }
    }

    .input-icon {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 40px;
    }

    .list-filter {
        display: flex;

        .button {
            height: 40px !important;
            margin-left: 16px;

            i {
                padding-right: 0;
            }
        }
    }
}

//Page title
.contacts-title {
    display: flex;
    margin-bottom: 0 !important;

    a {
        color: $muted-grey;

        &:hover {
            color: $secondary;
        }
    }

    i {
        position: relative;
        top: 2px;
        margin: 0 4px;
        color: $muted-grey;
    }
}

/* ==========================================================================
1. Contacts grid
========================================================================== */

.is-contacts-grid {
    margin: 20px 0;

    //Card
    .contact-card {
        padding: 20px;
        margin-bottom: 0;

        //Contact block
        .contact-block {
            display: flex;
            justify-content: flex-start;
            align-items: start;
            margin-top: 16px;

            img {
                height: 48px;
                width: 48px;
                border-radius: 50%;
            }

            //Meta
            .contact-meta {
                padding: 0 10px;

                span {
                    display: block;

                    &.name {
                        color: $blue-grey;
                        font-weight: 600;
                        font-size: 1.2rem;
                        margin-bottom: 4px;
                    }

                    &.position {
                        font-size: 1rem;
                        color: $muted-grey;

                        small {
                            margin: 0 4px;

                            &.is-green {
                                background: $green;
                                color: $smoke-white;
                            }

                            &.is-blue {
                                background: $blue;
                                color: $smoke-white;
                            }
                        }
                    }

                    &.email {
                        font-size: 1rem;
                        font-weight: 500;
                        color: $secondary;
                    }
                }
            }
        }

        //actions
        .contact-actions {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-top: 8px;

            .contact-button {
                height: 36px;
                width: 36px;
                border-color: transparent !important;
                margin: 0 4px;

                i {
                    font-size: 18px;
                    padding: 0;
                    color: $muted-grey;
                }

                &:hover {
                    background: lighten($fade-grey, 4%) !important;

                    i {
                        color: $blue-grey;
                    }
                }
            }
        }

        //Progress bar
        .progress-block {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0;

            .progress {
                width: 80%;
                margin-bottom: 0;

                &.is-xs {
                    height: .35rem !important;
                }

                &.is-red {
                    &::-webkit-progress-value {
                        background-color: $red;
                    }

                    &::-moz-progress-bar {
                        background-color: $red;
                    }

                    &::-ms-fill {
                        background-color: $red;
                    }
                }

                &.is-orange {
                    &::-webkit-progress-value {
                        background-color: $orange;
                    }

                    &::-moz-progress-bar {
                        background-color: $orange;
                    }

                    &::-ms-fill {
                        background-color: $orange;
                    }
                }

                &.is-green {
                    &::-webkit-progress-value {
                        background-color: $primary;
                    }

                    &::-moz-progress-bar {
                        background-color: $primary;
                    }

                    &::-ms-fill {
                        background-color: $primary;
                    }
                }

                &.is-secondary {
                    &::-webkit-progress-value {
                        background-color: $secondary;
                    }

                    &::-moz-progress-bar {
                        background-color: $secondary;
                    }

                    &::-ms-fill {
                        background-color: $secondary;
                    }
                }
            }

            //Task count
            .task-count {
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 1rem;
                font-weight: 500;
                color: $muted-grey;

                .sl {
                    font-size: 1.2rem;
                    color: $placeholder;
                    margin: 0 5px;
                }
            }
        }
    }
}

//Dropdowns
.contacts-grid-dropdown, .contacts-list-dropdown, .contact-events-dropdown {
    height: 36px;
    width: 36px;

    //Trigger
    > .button {
        height: 36px;
        width: 36px;

        i {
            padding: 0;
            color: $muted-grey;
        }

        &:hover {
            background: lighten($fade-grey, 4%) !important;

            i {
                color: $blue-grey;
            }
        }
    }

    //Dropdown menu
    .dropdown-menu {
        width: 280px;

        .dropdown-content {
            .dropdown-item {
                display: flex;
                align-items: center;
                width: 100%;

                span {
                    display: block;
                    margin: 0 10px;

                    span {
                        &:first-child {
                            font-size: 1rem;
                            font-weight: 500;
                        }

                        &:nth-child(2) {
                            font-size: .9rem;
                            color: $muted-grey;
                        }
                    }
                }

                i {
                    font-size: 16px;
                    color: $muted-grey;
                }
            }
        }
    }
}

/* ==========================================================================
2. Contacts list
========================================================================== */

//List wrapper
.is-contact-list {
    margin: 20px 0 40px 0;
    border-radius: 6px;
    padding: 20px;

    //Header
    .contacts-list-header {
        display: flex;
        align-items: center;
        padding: 16px;
    }

    //Inner table
    .table {
        .b-checkbox {
            display: flex;
            min-height: 18px;
            max-width: 18px;
            margin: 0 auto;
        }

        th {
            font-weight: 500;
            vertical-align: middle;
            padding: 7px 0;

            &.w-50 {
                width: 50%;
            }

            &.w-5 {
                width: 5%;
            }

            .b-checkbox {
                margin: 0 auto;
            }

            //Dropdowns
            .dropdown {
                //Filter dropdowns
                &.filter-dropdown {
                    .drodown-menu {
                        width: 200px;
                    }

                    .dropdown-item {
                        span {
                            .fa {
                                margin-right: 10px;
                                color: $secondary;
                                visibility: hidden;
                            }
                        }

                        //Spaced modifier
                        &.is-spaced {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            padding-right: 1rem !important;

                            > span {
                                display: block;
                            }

                            .material-icons {
                                font-size: 22px;
                                line-height: 0;
                            }
                        }

                        &.is-active {
                            background-color: transparent !important;
                            color: $secondary !important;
                            font-weight: 500;

                            .fa {
                                visibility: visible;
                            }
                        }
                    }
                }

                &:hover {
                    .button {
                        background: $fade-grey;
                    }
                }

                .button {
                    display: flex;
                    align-items: center;
                    padding: 0 8px;
                    border-radius: 100px;

                    i {
                        font-size: 20px;
                        padding-right: 0 !important;
                    }
                }

                .filter-title {
                    text-transform: uppercase;
                    font-size: .8rem !important;
                    font-weight: 700 !important;
                    pointer-events: none;
                }

                .dropdown-item {
                    font-size: 1rem;
                    font-weight: normal;
                }
            }
        }

        //Table cell types
        td {
            vertical-align: middle;
            padding: 0.75em;

            //Preview & name
            &.contact-preview {
                .inner {
                    display: flex;
                    align-items: center;

                    img {
                        display: block;
                        min-width: 38px;
                        max-width: 38px;
                        max-height: 38px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    a {
                        display: flex;
                        align-items: center;
                        margin-left: 10px;
                        font-weight: 500;
                        color: $blue-grey;

                        &:hover {
                            color: $secondary;
                        }
                    }

                    i {
                        display: none;
                        margin-left: 16px;
                        font-size: 20px;
                        max-height: 20px;
                        color: $muted-grey;
                        cursor: pointer;

                        &:hover {
                            color: $secondary;
                        }
                    }
                }
            }

            //Mofifications field
            &.modifications {
                span {
                    display: block;

                    small {
                        color: $muted-grey;
                    }

                    .date {
                        display: inline-block;
                        font-size: .95rem;
                        font-weight: 500;
                    }

                    .time {
                        display: inline-block;
                        font-size: .85rem;
                        color: $muted-grey;
                    }
                }
            }

            //Members
            &.projects {
                color: $muted-grey;

                .inner {
                    display: flex;
                    align-items: center;
                }

                .project-count {
                    min-width: 80px;
                }

                span {
                    display: block;
                }

                button {
                    margin-left: 10px;
                    visibility: hidden;
                    pointer-events: none;
                }
            }

            //Row actions
            &.actions {
                .button {
                    border: 1px solid transparent;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 32px;
                    height: 32px;

                    i {
                        padding: 0;
                        top: 0 !important;
                        font-size: 20px;
                    }
                }
            }

            .dropdown-menu {
                &.is-text-bigger {
                    .dropdown-item {
                        font-size: 1rem;
                    }
                }
            }
        }

        tr {
            padding: 8px 0;

            &.is-highlighted {
                background: lighten($fade-grey, 4%);

                .actions {}
            }

            //Hover behaviours
            &:hover {
                .contact-preview {
                    .inner {
                        i {
                            display: block;
                        }
                    }
                }

                .projects {
                    button {
                        visibility: visible;
                        pointer-events: all;
                    }
                }

                .actions {
                    .button {
                        border-color: $placeholder;
                        background: $white !important;
                    }
                }

                .button {
                    &:hover {
                        border-color: $secondary;
                        color: $secondary;

                        i {
                            color: $secondary;
                        }
                    }
                }
            }
        }
    }
}

/* ==========================================================================
3. Single contact
========================================================================== */

.is-avatar {
    margin-top: 20px;
    padding: 40px;

    .inner {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .contact-block {
            width: 100%;
            text-align: center;

            .avatar-wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 90px;
                width: 90px;
                border-radius: 50%;
                border: 2px solid $secondary;
                margin: 0 auto;

                img {
                    display: block;
                    height: 70px;
                    width: 70px;
                    border-radius: 50%;
                }
            }

            .contact-name {
                font-size: 1.4rem;
                font-weight: 600;
                color: $blue-grey;
                margin-top: 10px;
            }

            .contact-company {
                font-size: 1.1rem;
                color: $muted-grey;
            }

            .stats-block {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 30px;

                .stat {
                    text-align: center;

                    span {
                        display: block;

                        &:first-child {
                            text-transform: uppercase;
                            font-weight: 600;
                            font-size: .85rem;
                            color: $muted-grey;
                        }

                        &:nth-child(2) {
                            font-size: 1.75rem;
                            color: $blue-grey;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
}

.is-contact-info {
    margin-top: 20px;

    .single-contact-tabs {
        padding: 20px 40px 40px 40px;
        overflow: visible;

        .tabs {
            margin-bottom: 20px;
        }

        ul {
            margin: 0 !important;
            border-bottom: none;

            li {
                margin: 0 !important;

                a {
                    color: $placeholder;
                    border-bottom: 2px solid transparent !important;
                    margin-bottom: 0 !important;
                }

                &.is-active a {
                    border-color: $secondary !important;
                    font-weight: 500;
                }
            }
        }

        //Tab sections
        .navtab-content {
            padding: 16px 16px 0 16px;

            /*height: 320px;
            overflow-y: auto;*/
            .info-block {
                margin-bottom: 16px;

                .info-label {
                    text-transform: uppercase;
                    font-size: .8rem;
                    font-weight: 700;
                    color: $blue-grey;
                }

                .info-content {
                    color: $muted-grey;

                    &.is-email {
                        color: $secondary;
                        font-weight: 600;
                    }

                    &.is-notes {
                        margin-top: 10px;
                    }
                }

                .is-prospect {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    cursor: pointer;
                    font-weight: 500;
                    font-size: .9rem;
                    color: $muted-grey;
                    margin-top: 20px;

                    span {
                        font-size: 1rem;
                        position: relative;
                        top: -3px;
                    }

                    i {
                        margin: 0 5px;
                        color: inherit;
                        font-size: 16px;
                    }
                }
            }

            .lifetime-wrapper {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .lifetime-won {
                    width: 40%;

                    span {
                        display: block;
                        font-size: 1.8rem;
                        font-weight: 600;
                        color: $primary;

                        &:before {
                            content: '$';
                        }
                    }

                    .lifetime-label {
                        text-transform: uppercase;
                        font-size: .8rem;
                        font-weight: 700;
                        color: $blue-grey;
                    }
                }
            }

            .event-block {
                position: relative;
                display: flex;
                align-items: start;
                border-bottom: 1px solid $fade-grey;
                padding-top: 16px;

                .date-block {
                    text-align: center;
                    position: relative;
                    top: -10px;

                    span {
                        display: block;

                        &:first-child {
                            color: $blue-grey;
                            font-weight: 700;
                            font-size: 2.6rem;
                        }

                        &:nth-child(2) {
                            position: relative;
                            left: 0;
                            top: -6px;
                            text-transform: uppercase;
                            color: $muted-grey;
                            font-size: 1.2rem;
                            font-weight: 600;
                        }
                    }
                }

                .event-meta {
                    margin: 0 30px;

                    .event-name {
                        color: $blue-grey;
                        font-size: 1.1rem;
                        font-weight: 600;
                    }

                    .meta {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        margin-top: 8px;

                        .meta-element {
                            margin-right: 20px;
                            color: $muted-grey;
                            font-weight: 400;
                        }
                    }
                }

                .contact-events-dropdown {
                    position: absolute;
                    top: 6px;
                    right: 10px;
                }
            }

            .is-phone-block {
                margin-bottom: 16px;

                &.is-inner {
                    .fa {
                        color: $secondary;
                    }
                }

                &.is-outer {
                    .fa {
                        color: $orange;
                    }
                }

                .trigger {
                    a {
                        display: flex;
                        align-items: center;

                        small {
                            font-size: 1rem;
                            font-weight: 500;
                            margin: 0 10px;
                        }
                    }

                    .fa {
                        position: relative;
                        top: 2px;
                        font-size: 1.8rem;
                    }
                }

                .toggle-container {
                    padding: 10px 0 20px 0;

                    .meta-block {
                        margin-bottom: 10px;

                        .call-label {
                            text-transform: uppercase;
                            font-size: .8rem;
                            font-weight: 700;
                            color: $blue-grey;
                        }

                        .call-info {
                            font-size: .9rem;
                            color: $muted-grey;

                            &.is-converstion {
                                font-size: 1rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* ==========================================================================
4. Modals (message, call and event)
========================================================================== */

.message-contact-modal, .call-contact-modal, .create-event-modal {
    h2 {
        padding: 14px 20px;
        font-size: 1.3rem;
        font-weight: 600;
        background: $grey-white;
    }

    .card-body {
        padding: 20px 20px 10px 20px;
    }

    .image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100px;
        margin: -60px auto 0;
        background: #EEF2F5;
        border: 5px solid $white;
        border-radius: 50%;

        img {
            width: 48px;
            height: 48px;
        }
    }

    .help-text {
        margin: 10px 0;
        color: $muted-grey;
    }

    input {
        height: 40px;
        padding-left: 2.75rem !important;
    }

    .textarea {
        box-shadow: none !important;
    }

    .send-copy {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        cursor: pointer;
        font-weight: 500;
        font-size: .9rem;
        color: $muted-grey;

        span {
            font-size: 1rem;
            position: relative;
            top: -3px;
        }

        i {
            margin: 0 5px;
            color: inherit;
            font-size: 16px;
        }
    }

    .modal-footer {
        padding: 10px 20px;
        background: $smoke-white;
        text-align: right;

        button {
            font-weight: 500;
            color: $white;
            padding: 20px;
            border-radius: 4px;
            line-height: 0;
            background: $secondary;

            &:hover {
                box-shadow: $secondary-box-shadow;
            }

            &.modal-dismiss {
                background: $fade-grey;
                border-color: $fade-grey;
                color: $blue-grey;
                box-shadow: none !important;

                &:hover {}
            }
        }
    }
}

/* ==========================================================================
5. Create contact modal
========================================================================== */

//Modal
.create-contact-modal {
    h2 {
        padding: 14px 20px;
        font-size: 1.3rem;
        font-weight: 600;
        background: $grey-white;
    }

    //Body
    .card-body {
        padding: 20px 20px 10px 20px;
    }

    .image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100px;
        margin: -60px auto 0;
        background: #EEF2F5;
        border: 5px solid $white;
        border-radius: 50%;

        img {
            width: 48px;
            height: 48px;
        }
    }

    .help-text {
        margin: 10px auto 20px auto;
        color: $muted-grey;
        max-width: 420px;
    }

    input {
        height: 40px;
        padding-left: 2.75rem !important;
    }

    //Switch
    .is-prospect {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        cursor: pointer;
        font-weight: 500;
        font-size: .9rem;
        color: $muted-grey;

        span {
            font-size: 1rem;
            position: relative;
            top: -3px;
        }

        i {
            margin: 0 5px;
            color: inherit;
            font-size: 16px;
        }
    }

    //Footer
    .modal-footer {
        padding: 10px 20px;
        background: $smoke-white;
        text-align: right;

        button {
            font-weight: 500;
            color: $white;
            padding: 20px;
            border-radius: 4px;
            line-height: 0;
            background: $secondary;

            &:hover {
                box-shadow: $secondary-box-shadow;
            }

            &.modal-dismiss {
                background: $fade-grey;
                border-color: $fade-grey;
                color: $blue-grey;
                box-shadow: none !important;

                &:hover {}
            }
        }
    }
}

/* ==========================================================================
6. Event tiles
========================================================================== */

//Wrapper
.is-event-tiles {
    margin-top: 20px;

    //Tile
    .event-tile {
        border-radius: 10px !important;
        padding: 30px;
        margin-bottom: 0;

        .event-circle {
            height: 24px;
            width: 24px;
            border-radius: 50%;
            border: 3px solid $fade-grey;

            &.is-red {
                border-color: $red;
            }

            &.is-secondary {
                border-color: $secondary;
            }

            &.is-green {
                border-color: $green;
            }

            &.is-orange {
                border-color: $orange;
            }
        }

        //event category
        .event-category {
            margin-top: 26px;

            span {
                display: block;

                &:first-child {
                    font-size: 1.2rem;
                    color: $blue-grey;
                    font-weight: 700;
                }

                &:nth-child(2) {
                    color: $muted-grey;
                    font-weight: 500;
                }
            }
        }
    }
}

//Derived events cards
.is-subevent-cards {
    margin-top: 20px;
    margin-bottom: 0;

    //Card
    .subevent-card {
        border-radius: 10px;
        cursor: pointer;

        &.is-red {
            .event-date {
                border-color: $red;
            }

            .is-more {
                background: $red !important;
                color: $smoke-white !important;
            }
        }

        //Color modifiers
        &.is-secondary {
            .event-date {
                border-color: $secondary;
            }

            .is-more {
                background: $secondary !important;
                color: $smoke-white !important;
            }
        }

        &.is-green {
            .event-date {
                border-color: $green;
            }

            .is-more {
                background: $green !important;
                color: $smoke-white !important;
            }
        }

        &.is-orange {
            .event-date {
                border-color: $orange;
            }

            .is-more {
                background: $orange !important;
                color: $smoke-white !important;
            }
        }

        //hover behaviour
        &:hover {
            .front-face {
                display: none;
            }

            .back-face {
                display: block;
            }
        }

        //Front side
        .front-face {
            display: block;
            min-height: 295px;
        }

        //Back side
        .back-face {
            display: none;
            min-height: 315px;
            padding: 20px;
            position: relative;

            .back-inner {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 20px;

                .event-summary {
                    span {
                        font-weight: 600;
                        color: $blue-grey;
                    }

                    p {
                        color: $muted-grey;
                    }
                }
            }
        }

        //date
        .event-date {
            display: flex;
            align-items: center;
            margin: 20px 40px 80px 0;
            padding-left: 40px;
            border-left: 2px solid $fade-grey;

            .date-number {
                font-size: 3rem;
                font-weight: 400;
                color: $blue-grey;
            }

            .date-meta {
                margin-left: 10px;

                span {
                    display: block;

                    &:first-child {
                        font-size: 1.2rem;
                        color: $blue-grey;
                        font-weight: 700;
                    }

                    &:nth-child(2) {
                        color: $muted-grey;
                        font-weight: 500;
                    }
                }
            }
        }

        //Title
        .event-title {
            margin: 0 40px;
            width: 100%;

            span {
                display: block;

                &:first-child {
                    font-size: 1.2rem;
                    color: $blue-grey;
                    font-weight: 700;
                }

                &:nth-child(2) {
                    color: $muted-grey;
                    font-weight: 500;
                }
            }
        }

        //Participants
        .event-participants {
            margin-top: 16px;
            padding: 0 40px 40px 40px;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            .participant {
                height: 42px;
                width: 42px;
                min-width: 42px;
                border-radius: 50%;
                border: 3px solid $white;

                &:not(:first-child) {
                    $var: 18;

                    @for $i from 1 through 99 {
                        &:nth-child(#{$i}) {
                            margin-left: -#{$var}px;
                        }
                    }
                }

                &.is-more {
                    background: $fade-grey;
                    color: $blue-grey;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    span, img {
                        display: block;
                    }

                    span {
                        font-weight: 600;
                    }
                }
            }
        }
    }
}
