#notfound {
  position: relative;
  height: 20vh;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.notfound {
  max-width: 520px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
}

.notfound .notfound-404 {
  position: relative;
  height: 240px;
}
h1.errorPage {
  font-size: 3rem !important;
  margin-bottom: 15px !important;
}
.notfound {

  .notfound-404 {

    h1, h2, h3 {

      span {
        text-shadow: -8px 0px 0px #fff;
      }

      font-family: 'Montserrat', sans-serif;
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      color: #262626;
      text-transform: uppercase;
      letter-spacing: -40px;
      margin-left: -20px;
    }

    h1 {
      font-size: 252px;
      font-weight: 900;
      margin-top: -80px;
    }

    h2 {
      font-size: 175px;
      font-weight: 900;
      margin-top: 90px;
    }

    h3 {
      font-size: 120px;
      font-weight: 900;
    }

  }

}

@media only screen and (max-width: 767px) {
  .notfound .notfound-404 {
    height: 200px;
  }
  .notfound .notfound-404 h1 {
    font-size: 200px;
  }
}

@media only screen and (max-width: 480px) {
  .notfound .notfound-404 {
    height: 162px;
  }
  .notfound .notfound-404 h1 {
    font-size: 162px;
    height: 150px;
    line-height: 162px;
  }
  .notfound h2 {
    font-size: 16px;
  }
}